html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", Arial, sans-serif;
  box-sizing: border-box;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
}

:root {
  --bg-color: white;
  --text-color: black;
  --main-color: #1462F0;
  --second-bg-color: #EFEFEF;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

section {
  min-height: 80vh;
  padding: 10rem 9% 2rem;
  width: 100%;
}


.btn  {
  display: inline-block;
  background: var(--main-color);
  border-radius: 4rem;
  font-size: 1.6rem;
  padding: 1.6rem 3rem;
  color: white;
  font-weight: 600;
  box-shadow: none;
  transition: .3s ease;
}

.btn:hover {
  box-shadow: 0 0 1rem var(--main-color);
  scale: 1.03;
}




.home {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--main-bg-color);
  flex-direction: column;
}

.home-content {
  font-size: 3.2rem;
  font-weight: 700;
  padding-top: 6rem;
  background: rgb(238, 238, 238);
  padding: 6rem 8rem;
  border-radius: 2rem;
}

.logo {
  display: flex;
  padding-bottom: 10rem;
  text-align: center;
  font-size: 3rem;
}

.logo h1 {
  margin-left: 2rem;
}

.logo img {
  width: 6rem;
  height: 6rem;
}

.home-content h3 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 20px;
}

.home-content p {
  font-size: 2rem;
  font-weight: 500;
  padding-bottom: 2rem;
  line-height: 1;
}

.home-content ul li p {
  font-size: 2.3rem;
  font-weight: 700;
  margin-top: 5rem;
  padding: 1rem ;
}

.home-content span {
  color: var(--main-color);
  font-weight: 700;
}

.serv {
  display: flex;
  flex-direction: row;
  background: var(--second-bg-color);
  min-height: auto;
}


.footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background: var(--second-bg-color);
  justify-content: center;
}

.footer-end {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
  gap: 2rem;
  text-align: center;
  border-radius: 0 0 1rem 1rem;
}

.cols {
  display: flex;
  width: 100%;
  flex-direction: row;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
  border-radius: 1rem 1rem 0 0;
}

.col {
  width: 100%;
}

.col h4 {
  font-size: 1.8rem;
  color: var(--text-color);
  padding-bottom: 1rem;
}

.col h4 span {
  font-size: 1.8rem;
  color: var(--main-color);
}

.col ul li a {
  color: var(--text-color);
  font-size: 1.8rem;
  display: block;
  text-transform: capitalize;
  list-style: none;
  transition: .4s;
  padding-bottom: 0.5rem
}

.col ul li a:hover {
  color: var(--text-color);
  transform: translateX(-12px);
}

.footer-content {
  font-size: 1.8rem;
}

.footer-iconTop a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: .8rem;
  background: var(--main-color);
  border-radius: .8rem;
  transition: .3s ease;
}

.footer-iconTop a:hover {
  box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i {
  font-size: 2.4rem;
  color: var(--second-bg-color);
}


@media (max-width: 600px) {
  .logo {
    padding-bottom: 30px;
  }
  .logo h1 {
    font-size: 3rem;
  }
  .home-content h3 {
    font-size: 2.8rem;
  }
}


@media (max-width: 300px) {
  html {
    font-size: 45%;
  }
}
